#content {
  max-width: 1600px;
  margin: 0 auto;
}
nav a {
  text-align: center;
  color: #134266;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
.button-box {
  text-align: center;
}
main section {
  text-align: center;
}
#background {
  height: 725px;
}
body {
  background-color: #fcfbfb;
}
header {
  background-color: #78c5d7;
}
nav a:hover {
  background-color: #134266;
  color: #fce172;
}
.book,
.join {
  background-color: #78c5d7;
  color: #134266;
}
.book:hover,
.join:hover {
  background-color: #134266;
  color: #fce172;
}
.msg {
  background-color: #134266;
}
footer {
  background-color: #134266;
}
.home-title {
  color: #134266;
}
h4 {
  color: #134266;
}
.msg h2 {
  color: #fce172;
}
.msg p {
  color: #fce172;
}
footer h3 {
  color: #fce172;
}
footer a {
  color: #78c5d7;
}
footer a:hover {
  color: #fce172;
}
